/* Hero Section */
.hero {
    color: whitesmoke;
    background-color: #fff;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 40px;
  }
  
  .hero h1 {
    text-align: left;
    margin-left: 2rem;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  /* Content Section */
  .content {
    max-width: 1000px;
    padding: 0 20px;
    line-height: 1.6;
    color: white;
  }
  
  .content h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 40px 0 20px 0;
  }
  
  .content p {
    margin-bottom: 20px;
  }
  
  .content ol {
    text-align: left;
    margin-bottom: 40px;
  }
  
  .content ol li {
    margin-bottom: 10px;
  }

.content .emoji {
    text-align: center;
    font-size: 100px;
    animation: floating 3s ease-in-out infinite !important;
    margin-left: 6rem;
    margin-top: 5px;
    color: #fff;
    text-shadow: 
      0 0 5px #fff, 
      0 0 10px #fff, 
      0 0 15px #fff, 
      0 0 20px #b2ff00, 
      0 0 35px var(--accent-color-1),
      0 0 40px var(--accent-color-2), 
      0 0 50px var(--accent-color-2);
    }
  
@keyframes floating {
    0% { transform: translate(0, 0px) scale(1); }
    50% { transform: translate(0, 15px) scale(1.1); }
    100% { transform: translate(0, 0px) scale(1); }
  }