:root {
  /* Accent colors */
  --accent-color-1: #90ee90;
  --accent-color-2: #c7f9cc; 

  /* Background colors */
  --background-color: #242423; 
  --background-color-alt: #F2F2F2; 

  /* Text colors */
  --text-color: #FFFFFF;
  --text-color-alt: #242423; 
}

/* RECIPE FILTER FORM STYLES */
.filter-container {
    display: grid;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

.filter-container:nth-child(7) {
  margin: 0 auto;
  display: block;
  grid-column: 1 / -1;
}

/* center the button horizontally */
.filter-container > button {
  margin: 1.5rem auto;
  display: block;
  grid-column: 1 / -1;
}

/* styling of filter input fields */
.filter-widget {
    padding: 0.5rem 1rem;
    background-color: var(--background-color-alt);
    border-radius: 1.5rem;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
  }
  
  /* emoji zoom transformation on hover over widget  */ 
  .filter-widget:hover .emoji {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }

  /* styling for the emoji */
  .emoji {
    display: inline-block;
    font-size: 28px;
    margin-right: 10px;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }

  /* styling for the label text */
  .label-text {
    display: inline-block;
    font-size: 16px;
    color: #777;
    transition: color 0.2s ease-in-out;
  }

  /* styling for the label text on hover */
  .filter-widget:hover .label-text {
    color: var(--text-color-alt);
  }
  
  .filter-widget label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .filter-widget input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .filter-widget input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.15rem;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }
  
  .filter-widget input[type="checkbox"]:checked::before {
    content: "✅";
  }
  
  .filter-widget .emoji {
    font-size: 1.5rem;
  }
  
  .filter-widget .label-text {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

/* RECIPE CONTAINER AND CARD STYLES */
.recipes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   flex-wrap: wrap;
   gap: 1rem;
   margin-top: 1rem;
}
  
.center-container {
    margin-top: 40px;
}
  
.recipe-card {
  margin-bottom: 2rem;
  background-color: var(--background-color-alt) ;
  border-radius: 16px;
  overflow: hidden;
  line-height: 1.5;
  width: 22rem;
}
  
  
  .recipe-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    opacity: 0.7;
    object-fit: cover;
    transition: all 0.5s;
    z-index: -1;
  }

  .recipe-img:hover {
    transform: scale(1.5);
  }

/* styling for the ready in min label */
/* .ready-in-minutes-container{
  position: relative;
  float: left;
    width: 100%;
  } */
  
.ready-in-minutes-sub-container {
  text-align: center;
  position: relative;
  z-index: 99;
  float: left;
  top: 2%;
  left: 2%;
  width: 60px;
  height: 60px;
  background-color: rgba(255,253,112,0.8);
  border-radius:50% ;
  margin: 16px;
  margin-bottom: 0px;
}
  
.min-number {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: 0;
}

.min {
  font-size: 9px; 
  font-weight: 700
}


  .recipe-card h3 {
    margin: 0 1.5rem 2rem 1.5rem;
    font-size: 20px;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: var(--text-color-alt);
  }

  /* styling for the dietry labels */
  .label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: black;
  }

  .label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    letter-spacing: -0.25px;
    color: var(--text-color-alt);
    margin: 0;
    background-color: var(--accent-color-2);
    padding: .25rem 1rem;
    border-radius: 100px;
  } 
  
  .recipe .ingredients {
    color: var(--text-color);
    margin: 1rem;
    list-style-type: none;
    padding-left: 0;
  }
  
  .recipe .ingredients li {
    margin: 0.5rem 0;
  }
  
  .add-button,
  .remove-button {
    align-items: center;
    margin: 1rem;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 30px;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
  }
  
  .add-button:hover,
  .remove-button:hover {
    background-color: #000;
    color: #fff;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  

/* Clipboard styles */
.clipboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
    width: 30%;
  }
  
  #clipboard {
    font-family: "Raleway", sans-serif;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    resize: none;
    height: 100vh;
    width: 120px;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  
  #copy-button {
    margin-left: 0 auto;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-items: auto;
    width: 110px;
    background-color: #333;
    color: #fff;
    border: 0.2px solid white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
  }

  #copy-button i {
    margin-left: 0.4rem;
  }
  
  #copy-button:hover {
    background-color: #555;
  }
