:root {
  /* Accent colors */
  --accent-color-1: #90ee90;
  --accent-color-2: #c7f9cc; 

  /* Background colors */
  --background-color: #242423; 
  --background-color-alt: #ffffff; 

  /* Text colors */
  --text-color: #FFFFFF;
  --text-color-alt: #242423; 
}

.headline-hidden p {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-right: 2rem;
  background-image: -webkit-linear-gradient(92deg, lightgreen, beige);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.custom-emoji {
  /* Apply your custom styles here */
  font-size: 24px; /* Example: set font size to 24 pixels */
  color: red; /* Example: set text color to red */
  /* Add any other styles you want to apply to the emoji */
}




/* RECIPE FILTER FORM STYLES */
.filter-container {
    display: grid;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }

.filter-container:nth-child(7) {
  margin: 0 auto;
  display: block;
  grid-column: 1 / -1;
}

/* center the button horizontally */
.filter-container > button {
  margin: 1.5rem auto;
  display: block;
  grid-column: 1 / -1;
}

/* styling of filter input fields */
.filter-widget {
    padding: 0.5rem 1rem;
    background-color: var(--background-color-alt);
    border-radius: 1.5rem;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    width: auto;
  }
  
  /* emoji zoom transformation on hover over widget  */ 
  .filter-widget:hover .emoji {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }

  /* styling for the emoji */
  .emoji {
    display: inline-block;
    font-size: 28px;
    margin-right: 10px;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
  }

  /* styling for the label text */
  .label-text {
    display: inline-block;
    font-size: 16px;
    color: #777;
    transition: color 0.2s ease-in-out;
  }

  /* styling for the label text on hover */
  .filter-widget:hover .label-text {
    color: var(--text-color-alt);
  }
  
  .filter-widget label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .filter-widget input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .filter-widget input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.15rem;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }
  
  .filter-widget input[type="checkbox"]:checked::before {
    content: "✅";
  }
  
  .filter-widget .emoji {
    font-size: 1.5rem;
  }
  
  .filter-widget .label-text {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

/* RECIPE CONTAINER AND CARD STYLES */
.recipes-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
  
.center-container {
    margin-top: 40px;
}
  
.recipe-card {
  margin-bottom: 2rem;
  background-color: var(--background-color-alt) ;
  border-radius: 16px;
  overflow: hidden;
  line-height: 1.5;
  width: 22rem;
  background-position:center;
  border-radius:10px;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.02, 2);
}

.recipe-card:hover {
  width: 23rem;
}
  
/* styling for the image */
  .recipe-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* styling for the ready in min label */
/* TBD */

/* styling for the title */
  .recipe-card h3 {
    margin: 0 1.5rem 2rem 1.5rem;
    font-size: 20px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: var(--text-color-alt);
  }

/* styling for the recipes infos */
.recipe-infos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.recipe-infos span {
    display: flex;
    flex-direction: column;
    color: var(--text-color-alt);
    gap: .5rem;
    text-align: center;
}

.recipe-infos span:not(:last-child) {
      padding-right: 1rem;
      border-right: 1px solid #d0cccc;
}
.recipe-infos  .info-label {
    font-size: 0.8rem;
    color: #d0cccc;
  }

/* Styling for ingredients toggle button */
.ingredients-button {
  background-color: rgba(255, 186, 159, 0.735);
  color: salmon;
  font-size: 12px;
  margin: 0.2rem auto;
  padding: .25rem 0.8rem;
  display: block;
  width: fit-content;
}

/* Styling for ingredients */
/* Hide ingredients initially */
.ingredient-list {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

.ingredients-shown {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.2rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
}

.ingredients-shown .recipe-card {
  width: 25rem;
}


.ingredients-shown::before {
  content: 'Ingredients';
  font-weight: bold;
}

.ingredients-shown .ingredient::before {
  content: '☑️ ';
  font-size: 0.5rem;
}

.ingredients-shown .ingredient {
  text-align: left;
  width: 100%;
  margin-left: 5rem;
}
  /* styling for the dietry labels */
  .label-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
  }

  .label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    letter-spacing: -0.25px;
    background: #ebffed;
    color:#70cf79 ;
    margin: 0.2rem;
    padding: .25rem 1rem;
    border-radius: 100px;
  } 
  
  .recipe .ingredients {
    color: var(--text-color);
    margin: 1rem;
    list-style-type: none;
    padding-left: 0;
  }
  
  .recipe .ingredients li {
    margin: 0.5rem 0;
  }

  /* styling for the add button */
.add-button {
    width: 100%;
    height: 70px;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    background: var(--accent-color-1);
    color: var(--text-color-alt);
    transition: all 500ms;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0;
  }

.add-button:hover {
      font-size: 20px;
      cursor: pointer;
      border-radius: 0;
}

/* styling when button toggled */
.remove-button {
  background-color: red;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  

/* Clipboard styles */
.clipboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
  
  #clipboard {
    font-family: "Raleway", sans-serif;
    padding: 10px;
    margin-top: 2rem;
    font-size: 16px;
    width: 50%;
    resize: none;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  
  #copy-button {
    margin-left: 0 auto;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-items: auto;
    width: 110px;
    background-color: #333;
    color: #fff;
    border: 0.2px solid white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
  }

  #copy-button i {
    margin-left: 0.4rem;
  }
  
  #copy-button:hover {
    background-color: #555;
  }
