
:root {
    /* Primary colors */
    --primary-color: #1A1A1A; /* dark grey */
    --secondary-color: #EFEFEF; /* light grey */

    /* Accent colors */
    --accent-color-1: #90ee90;/* green */
    --accent-color-2: #c7f9cc; /* light green */

    /* Background colors */
    --background-color: #242423; /* white */
    --background-color-alt: #F2F2F2; /* light grey */

    /* Text colors */
    --text-color: #1A1A1A; /* dark grey */
    --text-color-light: #666666; /* light grey */
    --text-color-alt: #FFFFFF; /* white */

}

body {
    font-family: 'Raleway', sans-serif;
    margin: 3rem 3rem 0 3rem;
    padding: 0;
    background-color: var(--background-color);
}



li, a, button {
    text-decoration: none; 
    list-style-type: none;
    font-weight: 900;
    text-transform:uppercase;
}


  
  h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 5rem;
    margin-bottom: 0;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
  }